@font-face {
    font-family: "sailregular";
    src: url("fonts/Sail-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "assistantregular";
    src: url("fonts/Assistant-Regular.ttf");
    font-weight: normal;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: "assistantregular", Arial, Helvetica, sans-serif;
    background-image: url('../images/021 True Sunset.png');
    color: #04045C;
  }

html {
    position: relative;
    min-height: 100%;
  }
  

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #6CD1C8;
    border: solid #04045C 1px;
    text-align: center;
    padding-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /*.img-responsive {
    min-height: 250px;
}*/

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    font-family: "sailregular", Arial, Helvetica, sans-serif;
    color: #EE728C;
    font-size: 28px;
    margin-left: .5px;
    text-shadow: 0 1px 2px #04045C;
    /*background-color: #EE728C;*/
}

.navbar {
    background-color: #6CD1C8;
    border: solid #04045C 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#myNavbar a {
    color: #04045C;
}

.navbar-header .navbar-brand:hover {
    background-color: #04045C;
    color: #EE728C;
}

#myNavbar a:hover {
    background-color: #04045C;
    color: #EE728C;
}


.col-md-12 > .img-responsive {
    width: 150px;
    margin-right: 10px;
}

.col-md-9 .pull-left {
    float: left;
}

.panel {
    background-color: #6CD1C8;
    border: solid #04045C 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.panel > .panel-heading {
    background-color: #04045C;
    color: #EE728C;
    padding-top: 8px;
}

.thumbnail {
    background-color: #EE728C;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thumbnail h3 {
    color: #6CD1C8;
    text-align: center;
    text-shadow: 0 1px 2px #04045C;
}